@tailwind base;
@tailwind components;
@tailwind utilities;

/* Display page title font size */
.display-title {
  font-size: clamp(1.4rem, 3vw, 2.5rem);
}

:root {
  --font-sans: "Inter", system-ui, sans-serif;
}

* {
  font-family: var(--font-sans);
}

html {
  direction: rtl;
}

body {
  @apply bg-gray-50 text-gray-900;
}